$darkblue: #14183c;
$darkcobalt: #171d4a;
$coopercolor: #7f553c;
$beigecolor: #b79178;
$antiquewhite: #cdc3bd;
$headerBgDarkBlue: rgba(20, 24, 60, 0.8);
$mainBgAntiquewhite: rgba(205, 195, 189, 0.2);
